
body {
    font-family: "Montserrat";
    text-align: center;
}

h1 h2 h3 h4 h5 h6 {
    font-family: "Montserrat";
    color: #61892f;
}

p {
   color: #f7f7f7; 
}

/* headings */

.big-heading {
    font-family: "montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
    color: #61892f;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section {
    background-color: #222629;
    color: #fff;
}

.white-section {
    background-color: #6b6e70;
    color: white;
}
  
/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "montserrat";
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
    background-color: #61892f;
    color: black;
}

.download-button:hover {
    background-color: white;
    color: white;
}

/* Title Section */

#title {
    color: white;
    background-color: #222629;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features Section */

#features {
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 4.5%;
}

.icon {
    color: #86c232;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.icon:hover {
    color: #61892f;
}

/* Product Features Section */
#product-features {
    padding-left: 60px;
    padding-right: 60px;
}

.service-item {
    min-height: 20rem;
    padding:12px;
    margin: 16px;
    background-color: #474b4f;
    border-radius: 5px;
}

.product-link {
    color: #86c232;
}

.product-link:hover {
    color: #61892f;
}


/* Testimonial Section */

#testimonials {
    padding-bottom: 0;
    margin-bottom: 0;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press section */

#press {
    background-color: #6b6e70;
    padding-bottom: 3%;
    padding-top: 0;
}

.press-logo{
    width: 10rem;
    margin: 20px 12px 50px;
}

.press-heading {
    padding-top: 0;
    padding: 50px;
    color: white;
}

/* Pricing Section*/

#pricing {
    padding: 50px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

.pricing-column {
    padding: 3% 2%;
}

.card {
    border-color: black;
}

.card-header {
    background-color: #61892f;
    color: white;
}

.card-body {
    background-color: #474b4f;
}

.price-button:hover {
    background-color: #86c232;
    color: black;
}

.price-button-free {
    background-color: #86c232;
}

/* CTA Section */


/* Footer Section */


.social-icon {
    margin: 20px 10px;
}

/* Media Query */

@media (max-width: 1028px) {

    #title {
      text-align: center;
    }
  
    .title-image {
      position: static;
      transform: rotate(0);
    }

    .testimonial-text {
        font-size: 2.2rem;
    }

    .press-logo {
        size: 4rem;
    }

  }